{include file="./header.html"}


<div class="result_box">
    <img src="/assets/images/vote/fail.png"/>
    <h2>{$note}</h2>
    <span>{$note1}</span>
</div>

<div class="show_list">
    {foreach from=$list item=row}
        <a href="/?app=opusCopy&act=detail&id={$row.id}&user_id={$user_id}">
            <div class="show_project clearfloat">
                <div class="show_project_img">
                    <img src="{$row.cover}"/>
                    <span>{$row.id}</span>
                </div>
                <div class="show_project_intro">
                    <label>{$row.title}  {$row.school}</label>
                    <span>参赛号: {$row.id}</span>
                </div>
                <span class="show_project_number">{$row.vote_num}票</span>
            </div>
        </a>
    {/foreach}
</div>


{include file="./foot.html"}