<div style="margin: 15px; margin-right: 30px; margin-top: 50px;">
    <form class="layui-form record-form">
        <input type="hidden" name="id" value="{$info['id']|default:''}">
        <div class="layui-form-item">
            <label class="layui-form-label">话题名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" value="#{$info['title']|default:''}#" lay-verify="" placeholder="请输入话题名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">话题Logo</label>
            <div class="layui-upload-drag J-upload">
                <if $info['logo']|default:''>
                <img src="{$info['logo']}" lay-event="thumb" />
                <i class="layui-icon"></i>
                <p>请上传话题Logo</p>
                </if>
            </div>
            <input type="hidden" name="logo" value="{$info['logo']}" />
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">话题介绍</label>
            <div class="layui-input-block">
                <textarea   name="introduce" class="layui-textarea" >{$info['introduce']|default:''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-block">
                <input type="radio" name="is_show" value="1"  autocomplete="off" class="layui-input" title="是" {if $info['is_show'] eq 1 }checked='checked'{/if}>
                <input type="radio" name="is_show" value="0"   autocomplete="off" class="layui-input" title="否" {if $info['is_show'] eq 0 }checked='checked'{/if}>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="edit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    var submitcount=0;
layui.use(['form','ueditor'], function() {
    var $ = layui.jquery,
        form = layui.form
    ;
    //自定义验证规则
        form.verify({
            title: function(value){
                if(!value)
                    return '标题不能为空';
                if(value.length < 3){
                    return '标题至少得3个字符啊';
                }
            }
        });
    //防止表单重复添加
    if (submitcount == 0){
        submitcount++;
        return true;
    } else{
        layer.alert("正在操作，请不要重复提交，谢谢！");
        return false;
    }

});
//上传头像
layui.use(['upload'], function() {
    var $ = layui.jquery,
        upload = layui.upload;

    var href = _this_module_url + '/Index/upload_logo';
    upload.render({
        elem: '.J-upload',
        url: href,
        done: function(res) {

            if (!res.status) {
                layer.alert(res.msg);
                return false;
            }
            layer.msg(res.msg, {
                time: 1000
            }, function() { });
            $('.J-upload').html('<img src="' + res.data[0] + '" lay-event="thumb" />');
            $('form [name=logo]').val(res.data[0]);
        },
    });
});

</script>
