<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=0;" name="viewport" />
    <meta name="format-detection" content="telphone=no, email=no" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name=”HandheldFriendly” content=”true”>

    <title>就业邦直播</title>

    <style >

    </style>

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>


<iframe src="https://zhibo.chaoxing.com/weblive?streamName=LIVENEWBS07ziR6&vdoid=121848kh845" id="myiframe" scrolling="no"  frameborder="0" width="100%" height="100%"></iframe>

<script>
    $(function () {
        var h = $(window).height();
        document.getElementById("myiframe").height=h;

    })

</script>
</body>
</html>