<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>网络投票</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="/assets/lib/weui.min.css">
    <link rel="stylesheet" href="/assets/css/jquery-weui.css">
    <link rel="stylesheet" href="/assets/css/vote.css">
</head>
<body>

<img src="/assets/images/vote/bg.png" class="top_img"/>
<div class="data_box clearfloat">
    <div class="data">
        <a href="/?app=opus&act=index&user_id={$user_id}">
        <label>参赛作品</label>
        <span>{$totalOpusNum}</span>
        </a>
    </div>
    <div class="data">
        <label>投票数</label>
        <span>{$num.vote_num}</span>
    </div>
    <div class="data">
        <label>访问量</label>
        <span>{$num.look_num}</span>
    </div>
</div>