<style>
    .layui-form-imgs{
        clear: both;
        margin:0 auto;
        padding: 0 0 0 46px;
    }
</style>
<div style="margin: 15px; margin-right: 30px; margin-top: 50px;">
    <form class="layui-form record-form">
        <input type="hidden" name="id" value="{$info['id']|default:''}">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <input type="text" name="user_id" readonly="readonly"  value="{$info['username']|default:''}" lay-verify="" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea   class="layui-textarea" name="content">{$info['content']|default:''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">趣事图片集</label>
            <div class="layui-form-imgs">
            {foreach from=$imgsList key=key item=row}
                <div class="layui-upload-drag">
                    <if $info['imgs']|default:''>
                    <img src="{$row['url']}" lay-event="thumb" />
                    </if>
                </div>
            <input type="hidden" name="imgs" value="{$row['url']}" />
            {/foreach}
            </div>
        </div>
    </form>
</div>

