<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{$assets_url}/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="{$assets_url}/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$assets_url}/css/main.css" />
    <script type="text/javascript" src="{$assets_url}/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="{$assets_url}/js/Sortable.min.js"></script>
    <script>
    var _this_module_url = "",
        _this_controller_url = "/{$app}";
    </script>
    <script type="text/javascript" src="{$assets_url}/js/common.js"></script>
</head>
<body>
