{include file="layouts/header.html"}
<div style="">
    <blockquote class="layui-elem-quote ala-search-bar">
        <form class="layui-form layui-inline">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="search" placeholder="用户名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="msg_type" class="newsLook" lay-filter="search-select">
                            <option value="">请选择消息类型</option>
                            <option value="1">单条消息</option>
                            <option value="2">群发消息</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm ala-btn-search" lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i>搜索</button>
                </div>
            </div>
        </form>
    </blockquote>
    <div style="padding: 0 10px;">
        <table id="list" lay-filter="list-table" data-sort="true"></table>
    </div>

    <script>
    layui.use(['form', 'layer', 'table'], function() {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            table = layui.table;

        layer.load();
        table.render({
            id: 'list',
            elem: '#list',
            width: 'auto',
            height: 'full-70',
            cols: [
                [{
                    field: 'id',
                    title: 'ID',
                    width: 50,
                    sort: true,
                }, {
                    field: 'type',
                    title: '用户类型',
                    width: 150,
                },{
                    field: 'user_id',
                    title: '用户名称',
                    width: 150,
                },{
                    field: 'title',
                    title: '消息标题',
                    width: 150,
                    sort: true,
                },{
                    field: 'msg_type',
                    title: '消息类型',
                    width: 150,
                    sort: true,
                },{
                    field: 'content',
                    title: '内容',
                    width: 200,
                    sort: true,
                 },{
                    field: 'add_time',
                    title: '添加时间',
                    width: 150,
                    sort: true,
                }]
            ],
            url: _this_controller_url + '/ajax_list',
            method: 'get',
            where: {},
            page: true,
            limits: [10, 20, 50, 100],
            limit: 10,
            loading: false,
            even: true,
            done: function(res, curr, count) {

                layer.closeAll('loading');
            },
        });
    });
    </script>
    <script type="text/javascript" src="{$assets_url}/js/main.js"></script>
</div>
{include file="layouts/footer.html"}
