{include file="layouts/header.html"}
<div style="">
    <blockquote class="layui-elem-quote ala-search-bar">
        <form class="layui-form layui-inline">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="search" placeholder="公司名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="type" class="newsLook" lay-filter="search-select">
                            <option value="">请选择类型</option>
                            {foreach from=$typeList key=key item=row}
                            <option value="{$row.id}">{$row.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="status" class="newsLook" lay-filter="search-select">
                            <option value="">请选择状态</option>
                            {foreach from=$statusList key=key item=row}
                            <option value="{$row.id}">{$row.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm ala-btn-search" lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i>搜索</button>
                </div>
            </div>

        </form>

        <div class="layui-inline fr">
            <button class="layui-btn layui-btn-sm ala-btn-add" data-opt="edit" data-id="0"><i class="layui-icon">&#xe654;</i>添加</button>
        </div>
    </blockquote>
    <div style="padding: 0 10px;">
        <table id="list" lay-filter="list-table" data-sort="true"></table>
    </div>
    <script type="text/html" id="list-bar">
        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-sm" lay-event="detail" title="查看"><i class="fa fa-eye"></i></button>
            <button class="layui-btn layui-btn-sm" lay-event="edit" title="编辑"><i class="fa fa-pencil-square-o"></i></button>
            <!--<button class="layui-btn layui-btn-sm" lay-event="del" title="删除"><i class="fa fa-trash"></i></button>-->
    </div>
    </script>
    <script>
    layui.use(['form', 'layer', 'table'], function() {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            table = layui.table;

        layer.load();
        table.render({
            id: 'list',
            elem: '#list',
            width: 'auto',
            height: 'full-70',
            cols: [
                [{
                    field: 'id',
                    title: 'ID',
                    width: 100,
                    sort: true,
                }, {
                    title: 'logo',
                    width: 150,
                    templet: function(d) {

                        return '<img src="' + d.logo + '" lay-event="thumb" />';
                    }
                }, {
                    field: 'name',
                    title: '公司名称',
                    width: 200,
                },{
                    field: 'type',
                    title: '类型',
                    width: 150,
                },  {
                    field: 'city_name',
                    title: '城市',
                    width: 200,
                }, {
                    field: 'link_person',
                    title: '联系人',
                    width: 150,
                }, {
                    field: 'link_phone',
                    title: '联系电话',
                    width: 200,
                    sort: true,
                },{
                    field: 'status',
                    title: '状态',
                    width: 150,
                    sort: true,
                },{
                    title: '操作',
                    width: 150,
                    fixed: 'right',
                    align: 'center',
                    toolbar: '#list-bar',
                }]
            ],
            url: _this_controller_url + '/ajax_list',
            method: 'get',
            where: {},
            page: true,
            limits: [10, 20, 50, 100],
            limit: 10,
            loading: false,
            even: true,
            done: function(res, curr, count) {
                layer.closeAll('loading');
            },
        });
    });
    </script>
    <script type="text/javascript" src="{$assets_url}/js/main.js">
    </script>
</div>
{include file="layouts/footer.html"}
