<div style="margin: 15px; margin-right: 30px; margin-top: 50px;">
    <form class="layui-form record-form">
        <input type="hidden" name="id" value="{$info['id']|default:''}">

        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" value="{$info['title']|default:''}" lay-verify="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
         </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-block">
                <input type="text" name="price" value="{$info['price']|default:''}" lay-verify="price" placeholder="请输入价格(0是免费)" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类别</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="1" lay-filter="type"  lay-verify="required"  autocomplete="off" class="layui-input" title="秘籍" {if $info['type'] eq 1 }checked='checked'{/if}>
                <input type="radio" name="type" value="2" lay-filter="type"  lay-verify="required"  autocomplete="off" class="layui-input" title="试卷" {if $info['type'] eq 2 }checked='checked'{/if}>
                <input type="radio" name="type" value="3" lay-filter="type" lay-verify="required"  autocomplete="off" class="layui-input" title="攻略" {if $info['type'] eq 3 }checked='checked'{/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属类别</label>
            <div class="layui-input-inline">
                <select name="cate_id" lay-filter="cate_id" id="cate_id">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否热门</label>
            <div class="layui-input-block">
                <input type="checkbox" {if $info['is_hot'] eq 1 }checked='checked'{/if} name="is_hot" lay-skin="switch"  lay-text="ON|OFF">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否精选</label>
            <div class="layui-input-block">
                <input type="checkbox" {if $info['is_choice'] eq 1 }checked='checked'{/if} name="is_choice" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">封面图</label>

            <div class="layui-upload-drag " id="cover_img" >
                <if $info['cover_img']|default:''>
                <img src="{$info['cover_img']}" lay-event="thumb" />
                <i class="layui-icon"></i>
                <p>请上传封面图</p>
                </if>
            </div>
           <input type="hidden" name="cover_img" value="{$info['cover_img']}" />
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">详情顶部图片</label>
            <div class="layui-upload-drag " id="top_img">
                <if $info['top_img']|default:''>
                <img src="{$info['top_img']}" lay-event="thumb"  />
                <i class="layui-icon"></i>
                <p>请上传顶部图片</p>
                </if>
            </div>
           <input type="hidden" name="top_img" value="{$info['top_img']}" />
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
               <textarea  name="content"   id="myEditor">{$info['content']|default:''}</textarea>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="edit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
layui.use(['form','ueditor'], function() {
    var $ = layui.jquery,
        form = layui.form;
    //建立富文本编辑器
    var ueditor = layui.ueditor;
    ueditor.init({
        elm:"myEditor",//编辑器所在元素
        opt:null,//原始编辑器创建时带的参数

        // configUrl:"./ueditor.config.js",// 采用自定义的配置文件，不用官方的配置文件
        serverUrl: null,//  服务器统一请求接口路径，官方示例为jsp/controller.jsp，可重置此接口地址
        // 当初始化完成时，会执行此方法，返回创建的editor编辑器实例
        done: function (editor) {

        }
    });
    //板块监听
    form.on('radio(type)', function(data){
        var id = data.value;
        if( id != 0) { //获取二数据
            $.post("/?app=raiders&act=getTypeIdList", { type:id }, function(data) {
                if(data.success){
                    $('#cate_id').html(data.data);
                }
                form.render();
            }, "json");
        }

    });

    {if $info['id']}

    var type = {$info.type};

    if(type!=0){
        var choose = {$info.cate_id};
        var id = {$info.type};
        $.post("/?app=raiders&act=getTypeIdList", { type:id,choose:choose }, function(data) {
            if(data.success){
                $('#cate_id').html(data.data);
            }
            form.render();
        }, "json");
    }

    {/if}

    function change(type) {
        if(1==type){
            $('#res_status').show();
        }else{
            $('#res_status').hide();
        }
    }
    //自定义验证规则
    form.verify({
        title: function(value){
            if(value.length < 3){
                return '标题至少得3个字符啊';
            }
        }, price: function(value){
            if(value.length < 1){
                return '价格至少1个字符';
            }
        }
    });

});
//上传文件
layui.use(['upload'], function() {
    var $ = layui.jquery,
        upload = layui.upload,
        form=layui.form;

    var href = _this_module_url + '/Index/upload_logo';
    upload.render({
        elem: '#cover_img',
        url: href,
        done: function(res) {
            console.log(res);
            if (!res.status) {
                layer.alert(res.msg);
                return false;
            }
            layer.msg(res.msg, {
                time: 1000
            }, function() { });
            $('#cover_img').html('<img src="' + res.data[0] + '" lay-event="thumb" />');
            $('form [name=cover_img]').val(res.data[0]);
        },
    });
    upload.render({
        elem: '#top_img',
        url: href,
        done: function(res) {
            console.log(res);
            if (!res.status) {
                layer.alert(res.msg);
                return false;
            }
            layer.msg(res.msg, {
                time: 1000
            }, function() { });
            $('#top_img').html('<img src="' + res.data[0] + '" lay-event="thumb" />');
            $('form [name=top_img]').val(res.data[0]);
        },
    });
});

</script>
