.admin-side-logo a {
    color: #009688;
}

.admin-side-toggle,
.admin-side-full {
    position: absolute;
    cursor: pointer;
    z-index: 19880902;
    left: 200px;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #23262E;
    line-height: 30px;
    top: 25%;
}




.admin-side-toggle:hover,
.admin-side-full:hover {
    background-color: #5FB878;
}

.admin-side-full {
    left: 240px;
}

.layui-nav-item a cite {
    padding: 0 10px;
}

.beg-navbar .layui-nav-child dd a {
    padding-left: 30px;
}

.admin-nav-card {
    /*margin-top: 5px;*/
    margin-top: 0;
}

.admin-nav-card .layui-icon {
    position: relative;
}

.admin-nav-card .layui-tab-item {
    -webkit-overflow-scrolling: touch;
    overflow: auto!important;
}

.admin-nav-card .layui-tab-item iframe {
    width: 100%;
    border: 0;
    height: 100%;
}

.admin-nav-card>.layui-tab-title {
    border-bottom: 1px solid #1AA094;
}

.admin-nav-card .layui-tab-title cite {
    font-style: normal;
    padding-left: 5px;
}

.admin-nav-card>.layui-tab-title .layui-this {
    color: white;
    background-color: #1AA094;
}

.admin-nav-card>.layui-tab-title .layui-this:after {
    border-bottom: 0;
}

/* 适配多设备 */
@media screen and (max-width: 750px) {
  .layui-main{width: auto; margin: 0 10px;}
  .logo,
  .header-demo .logo{left: 10px;}

  .site-nav-layim{display: none !important;}
  .header .layui-nav .layui-nav-item{margin: 0;}
  .header .layui-nav .layui-nav-item a{padding: 0 15px;}
  .site-banner{height: 300px;}
  .site-banner-bg{background-size: cover;}
  .site-zfj{height: 100px; padding-top: 5px;}
  .site-zfj i{top: 10px; width: 100px; height: 100px; margin-left: -50px; font-size: 100px;}
  .site-desc{background-size: 70%; margin: 0;}
  .site-desc cite{display: none;}
  .site-download{margin-top: 0; }
  .site-download a{height: 40px; line-height: 40px; padding: 0 25px 0 60px; border: 1px solid #778097; border-radius: 30px; color: #fff; font-size: 16px;}
  .site-download a cite{left: 20px;}
  .site-banner-other{bottom: 15px;}

  .site-idea{margin: 20px 0;}
  .site-idea li{margin: 0 0 20px 0; width: 100%; height: auto; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
  .site-hengfu img{max-width: 100%}

  .layui-layer-dir{display: none;}
  .site-tree{position: fixed; top: 0; bottom: 0; min-height: 0; overflow: auto; z-index: 1000; left: -260px; background-color: #fff;  transition: all .3s; -webkit-transition: all .3s;}
  .site-content{width: 100%; padding: 0; overflow: auto;}
  .site-content img{max-width: 100%;}
  .site-tree-mobile{display: block!important; position: fixed; z-index: 100000; bottom: 15px; left: 15px; width: 50px; height: 50px; line-height: 50px; border-radius: 2px; text-align: center; background-color: rgba(0,0,0,.7); color: #fff;}
  .site-home .site-tree-mobile{display: none!important;}
  .site-mobile .site-tree-mobile{display: none !important;}
  .site-mobile .site-tree{left: 0;}
  .site-mobile .site-mobile-shade{content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.8); z-index: 9999;}
  .site-tree-mobile i{font-size: 20px;}
  .layui-code-view{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

  .layui-layout-admin .layui-side{position: fixed; top: 0; left: -260px; transition: all .3s; -webkit-transition: all .3s; z-index: 10000;}
  .layui-body{position: static; bottom: 0; left: 0;}
  .site-mobile .layui-side{left: 0;}
  body .layui-layout-admin .footer-demo{position: static;}

  .site-demo-area,
  .site-demo-editor,
  .site-demo-result,
  .site-demo-editor textarea,
  .site-demo-result iframe{position: static; width: 100%;}
  .site-demo-editor textarea{height: 350px;}
  .site-demo-zanzhu{display: none;}
  .site-demo-btn{bottom: auto; top: 370px;}
  .site-demo-result iframe{height: 500px;}

  .site-demo-laytpl textarea, .site-demo-laytpl div span{margin: 0;}
  .site-demo-tplres .site-demo-tplh2, .site-demo-tplres .site-demo-tplview{width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

  .site-demo-title{position: static; left: 0;}
  body .layui-layout-admin .site-demo{}
  .site-demo-code{position: static; height: 350px;}
  
  .admin-side-toggle ,.admin-header-item{display: none;}
  .admin-header-item-mobile{ display: block; }
}
